.app {
  width: 100%;
  min-height: 80vh;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.app-title {
  font-size: 72px;
  background: -webkit-linear-gradient(
    rgb(233, 182, 43) 50%,
    rgb(211, 206, 61) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-title:hover {
  font-size: 72px;
  background: -webkit-linear-gradient(
    rgb(82, 154, 199) 50%,
    rgb(98, 82, 219) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
